@use "helpers/index" as *;

body {
  font-family: var(--font-family-base);
  line-height: 1;
  color: var(--gray);
  background: #ccc;
  overflow-y: hidden;
}

#app,
.main,
.page {
  width: 100vw;
  height: 100vh;
}

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 700;
  color: var(--dark-blue);
}

h1,
.h1 {
  @include fluid-text(48, 32);
  margin-bottom: 32px;
}

h2,
.h2 {
  @include fluid-text(32, 24);
}

h3,
.h3 {
  @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  //outline: rem(2) dashed var(--just-white);
  transition-duration: 0s !important;
  outline: none !important;
}
